.App {
  background-color: #fafafa;
  height: 500px;
  width: 300px;
  padding: 10px 25px;
  border-radius: 7px;
  box-shadow: white 0px 1px 2px 0px, white 0px 1px 3px 1px;
  color: #001f3f;
  font-family: "Open Sans", Open-Sans, Sans-serif;
  position: relative;
}

.App h2 {
  margin: 10px 0px 20px 0px;
}

.App .dropdownContainer {
  display: flex;
  justify-content: space-between;
}

.App .fromCurrency,
.toCurrency {
  width: 115px;
  background-color: white;
  border-radius: 7px;
}

.App .inputContainer {
  margin-top: 20px;
  background-color: white;
}

.App .dropdownContainer,
.resultContainer {
  margin-top: 30px;
}

.App .resultContainer p:nth-child(2) {
  font-weight: bold;
  margin-top: 35px;
}

.App .resultContainer span {
  font-size: 35px;
}

.App .dateTime {
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  margin: auto;
}

.App .switchIcon {
  cursor: pointer;
  width: 2em;
  height: 1.5em;
  color: #001f3f;
}

/* Material UI custom CSS */
.MuiNativeSelect-select::-webkit-scrollbar {
  display: none;
}
.MuiInputLabel-root,
.MuiNativeSelect-select,
.MuiInputBase-input {
  color: #001f3f !important;
}
.MuiFormHelperText-root {
  margin: 5px 0px 2px 2px !important;
  font-size: 13px !important;
}
.MuiOutlinedInput-input {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media only screen and (max-width: 399px) {
  .App {
    width:80vw;
  }
}