.App {
    background-color: rgba(255, 255, 255, 0.878);
    height: 500px;
    max-width: 330px;
    padding: 10px 35px;
    border-radius: 7px;
}

.App .FromCurrency, .ToCurrency {
    width:115px !important;
    background-color: rgb(162, 162, 162);
}

.MuiPaper-root{
  height:250px; 
}
.MuiPaper-root::-webkit-scrollbar{
  display: none;
}